{% extends "site_base.html" %}
{% block body%}

<h1>Add Post</h1>

    {% if posted %}
       <strong>Your post was successfully posted!</strong>
       <a href="/">Return to the homepage.</a><br />

    {% else %}
    <form id="post_form" method="post" action="{% url 'add_post' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ post_form.as_p }}

        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Add Post" />
    </form>
    {% endif %}
{% endblock %}