{% extends "site_base.html" %}

{% block body%}
	{% if form.errors %}
		<p>Invalid username or password. Please try again.</p>
	{% endif %}

	<form action="{% url 'login' %}" method="post">
		{% csrf_token %}

		<h1><b>Login</b></h1><br />
		<table>
			<tr>
				<td>{{ form.username.label_tag }}</td>
				<td>{{ form.username }}</td>
			</tr>

			<tr>
				<td>{{ form.password.label_tag }}</td>
				<td>{{ form.password }}</td>
			</tr>
		</table>

		<input type="submit" value="Log In">

	</form>
	<br />
	Haven't registered yet?
	<a href="{% url 'register' %}">
			<button>Sign Up Now!</button>
	</a>


{% endblock %}