{% extends "site_base.html" %}
{% block body%}

<h1><b>Sign Up</b></h1>

    {% if registered %}
        {% csrf_token %}
       <strong>Thank you for registering!</strong>
       <a href="{% url 'login' %}">Login Now.</a><br />
       {% else %}
        <form id="user_form" method="post" action="{% url 'register' %}" 
            enctype="multipart/form-data">
           {% csrf_token %}
            {{ user_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Sign Up" />
        </form>
    {% endif %}
{% endblock %}