{% extends "site_base.html" %}
{% block body%}

<h1>Update Post</h1>

    {% if posted %}
        {% csrf_token %}
       <strong>Your post was successfully updated!</strong>
       <a href="/">Return to the homepage.</a><br />
       {% else %}
        <form id="post_form" method="post" action="{% url 'update_post' post.id %}" 
            enctype="multipart/form-data">
           {% csrf_token %}
            {{ post_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Update Post" />
        </form>
    {% endif %}
{% endblock %}