{% extends "blogs/blog_base.html" %}
{% load url from future %}

{% block head_title %}{{ SITE_NAME }}{% endblock %}

{% block content %}
    
    {% if user_posted %}   
        <div class="post-list">

            {% for post in user_posts %}
                {% if post.author.username == request.user.username %}
                    <div class="post">
                        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                        {% include "blogs/dateline.html" %}
                        <div class="teaser">{{ post.teaser_html|safe }}</div>
                        <p class="more">
                            <a href="{{ post.get_absolute_url }}" class="post-link">read more...</a>
                        </p>

                        <a href="{% url 'update_post' post.id %}">
                                <button>Update Post</button>
                        </a>

                        <a href="{% url 'delete_post' post.id %}">
                                <button>Delete Post</button>
                        </a>
                        <br />
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>No blog posts have been published.</p>
    {% endif %}
{% endblock %}