{% extends "site_base.html" %}

{% block body_class %}blog{% endblock %}


{% block body %}
    <div class="row blog-container">
        <div class="col-md-3 sidebar">
            {% block sidebar %}
                
                {% if request.user.is_authenticated %}
                    <h1> 
                        <strong> Hello {{ request.user.username }}!</strong>
                    </h1> 
                    <h4>Full Name: {{ request.user.get_full_name }}</h4>
                    <h4>Email: {{ request.user.email }}</h4>

                    <a href="{% url 'add_post' %}">
                        <button>Add Post</button>
                    </a>
                    <br />

                    <a href="{% url 'user_posts' %}">
                        <button>Manage Posts</button>
                    </a>
                    <br />

                {% else %}
                    You are not an authenticated user.
                {% endif %}

            {% endblock %}
        </div>
        <div class="col-md-8 blog-content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}