{% extends "site_base.html" %}

{% block body%}
	<h1><b>Contact Us</b></h1><br/>
	<form action="{% url 'contact_us' %}" method="post" >
	{% csrf_token %}
	{{ form.as_p}}
		<input type="submit" value="Submit">
	</form>
{% endblock %}